# Puerto donde corre la aplicacion
PORT = 3100
# Servicio de envio de correos
MAILER_SERVICE = gmail
# Direccion email a donde enviar reportes
MAILER_EMAIL = example@email.com
# Clave secreta para el correo
MAILER_SECRET_KEY = mySecretMailerKey123
# Modo de ejecucion produccion
PRODUCTION = false

# Direccion de la base de datos de mongo
MONGO_URL = myMongoDbAddress
#  Nombre de la base de datos de mongo
MONGO_DB_NAME = myMongoDbName
#  Usuario de la base de datos
MONGO_USER =  myMongoDbUser
# Contrasena de la base de dato
MONGO_PASSWORD = myMongoDbPassword

# Direccion de la base de datos de Postgres
POSTGRES_URL = myPostgresDbAddress
# nombre de la base de datos de postgres
POSTGRES_DB_NAME = myPostgresDbName
# Usuario de la base de datos de postgres
POSTGRES_USER = myPostgresDbUser
# contrasena de la base de datos de postgres
POSTGRES_PASSWORD = myPostgressDbPassword

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"